body {
    background-color: rgb(245,245,245);
}

.admin-table {
    margin-top: 20px;
    border: 0px solid rgb(155,155,155);
    margin-right: 20px;
    padding: 20px 20px 20px 20px;
    background-color: rgb(255,255,255);
}

.admin-table table th, td {
    padding: 10px;
}