:root {
  --red: #C32828;
  --black: #161616;
  --dark-gray:#242424;
  --gray: rgb(50,50,50);
  --light-gray: rgb(235,235,235);
  --lighter-gray: rgb(245,245,245);
  --white: rgb(255,255,255);
}

.sidebar {
    height: 100%; 
    width: 260px; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 45px;
    display: block;
    list-style: none;
    background-color: var(--black);
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none !important;
  font-size: 18px;
  font-weight: normal;
  color: var(--light-gray);
  border: 2px solid;
  border-color: var(--red);
  border-radius: 8px;
  margin: 24px;
  display: block;
  transition: 0.2s ease;
}

.sidebar a.selected {
  font-weight: bold;
  background-color: var(--red);
  color: var(--light-gray);
}

.sidebar a:hover {
  scale: 1.02;
}

.div-body {
  margin-left: 260px;
  padding: 25px;
}

